/* general stuff */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    background-color: rgb(197, 161, 146);
}

.wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 1200px;
    /* maybe too small */

    padding-right: 10px;
    padding-left: 10px;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: rgba(230, 208, 198, 0.8);
    text-align: center;
    border-radius: 5px;
}

/* header logo */
#logo-wrapper {
    display: flex;
    justify-content: space-around;
}

#logo {
    display: flex;
    flex-direction: column;
    letter-spacing: 1em;
    text-transform: uppercase;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5em;
}

#logo h1 {
    font-weight: normal;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

/* header text */
#header-text {
    font-style: italic;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 1em;
    color: sienna(124, 81, 64);
}

/* Header navigation dropdown menu */
nav {
    flex: 1;
    text-align: end;
    color: #000000;
    overflow: hidden;
    width: fit-content;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
}

#dropdown-icon {
    font-size: 4em;
    border: none;
    outline: none;
    margin-right: 0.2em;
}

.dropdown-content {
    height: 0;
    display: none;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    background-color: whitesmoke;
    right: 0;

}

.dropdown-content a {
    padding: 7px;
    text-decoration: none;
    border-right: dashed sienna;
    border-left: dashed sienna;
    border-top: dashed sienna;
}

.dropdown-content a:last-child {
    border-bottom: dashed sienna;
}

/* Show the dropdown menu on hover */
nav:hover .dropdown-content {
    display: flex;
    height: fit-content;
}

/** Link hovering **/
a:link,
a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover,
a:active {
    color: sienna;
    font-weight: bold;
}


/**** Home page ****/

/** Image with text on top **/
#home-welcome>div {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
#home-welcome>div>div {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home-welcome img {
    width: 100%;
    filter: brightness(80%);
    border-radius: 10px;
}

/* style text */
#home-welcome-title {
    font-size: 60pt;
}

#home-welcome-slogan {
    font-size: 20pt;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/** Introduction text **/
#home-intro p {
    font-size: 20pt;
    font-weight: lighter;
    text-align: center;
    padding: 1em 3em;
}

/** Link boxes/cards **/
#home-links {
    background-color: sienna;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* must be the same as the larger card is wider */
    padding: 30px 30px;
}

#home-links div {
    position: relative;
    text-align: center;
}

#home-links div a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.85);
    padding: 0.5em 2em;

    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: lighter;
}

#home-links div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#home-links .card1 {
    width: 300px;
    height: 200px;
}

#home-links .card2 {
    width: 610px;
    height: 200px;
    ;
}

/**** footer ****/
footer {
    padding: 40px;
}

footer #footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

footer img {
    height: 50px;
    width: 50px;
}

.copyright-notice {
    padding-top: 30px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

/* Event page expandable events*/

.expandable-items {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.expandable-item-header {
    cursor: pointer;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: 0.4s;
    display: flex;
    box-sizing: border-box;
    min-width: 0;
    width: 100%;
    padding-inline: 0;
    padding-block: 0;
    margin-top: 16px;
    background-color: skyblue;
}

.expandable-header-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    min-width: 0;
    max-height: 30%;
  }

  .expandable-header-right {
    flex: 2;
    text-align: right;
    margin: 0;
    min-width: 0;
    height: 100%;
  }

.event-image {
    border-radius: 8px;
    max-width: 100%;
    height: 30%;
    vertical-align: bottom;
}

.expanded-event-text {
    max-height: 0;
    background-color: skyblue;
    border-radius: 0 0 8px 8px;
    filter:brightness(150%);
    overflow: hidden;
  
    margin-block-start: 0em;
    margin-block-end: 0em;
    transition: max-height 0.2s ease-out;
  }

.active,
.expandable-items::after{
  border-radius:  8px 8px 0 0;
}

.active,
.expandable-items:hover {
  filter:brightness(90%)
}