header {
    overflow: auto;
}
header div {
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center;
}
header div h1 {
    float: left;
    width: 20%;

    text-align: center;
    font-size: 48px;
    font-family: Tahoma, Helvetica, sans-serif;
    color: cadetblue;
}
header div img {
    float: right;
    width: 80%;
}

nav div {
    background-color: #b78aa0;
}
nav div li {
    display: inline-block;
    margin: 0.5em;
}

body{
    margin: 40px auto;
    max-width: 1400px;
    line-height: 1.6;
    font-size: 18px;
    color:  #000;
    padding: 0 10px;

}

h1,h2,h3{
  line-height: 1.2
}

.content img {
    width: 100%;
    height: auto;
}



/* junk from the lectures */

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

#main-table-heading {
    color: blue;
}

section .my-class {
    color: green;
}

table img {
    padding: 10px;
}
