header {
    position: sticky;
    top:0;
    background-color: white;
}
header div {
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center;
}

header div h1 {
    float: left;
    text-align: center;
    font-size: 36px;
    font-family: Tahoma, Helvetica, sans-serif;
    color: cadetblue;
    overflow: hidden;
}

header div img {
    float: left;
    width: 100%;
    height: 110px;
    overflow: hidden;
}

header div li {
    list-style-type: none;
}

nav div {
    background-color: #b78aa0;
}

nav div li {
    list-style-type: none;
    float: left;
    text-align: center;
}

a:link, a:visited {
    color: darkslateblue;
    text-decoration: none;
    display: inline-block;
    margin: 0.5em;
    font-size: 12pt;
    font-family: sans-serif;
  }
  
nav div li a:hover, a:active {
    color: pink;
}

/* general */
body{
    margin: 40px auto;
    max-width: 1400px;
    line-height: 1.6;
    font-size: 18px;
    color:  #041c1f;
    padding: 0 10px;
}

h1,h2,h3{
  line-height: 1.2
}

/* content pages */

.context h1,h2,h3 {
    line-height: 1.5;
}
.content h3 {
    text-align: center;
}
.content img {
    width: 100%;
    height: auto;
}
.content p { /* main paragraphs */
    text-align: justify;
    text-justify: inter-word;
    font-size: 14pt;
    font-family: sans-serif;
}

/* history page */
.content img.img-history {
    width: 60%;
}
.content img.img-left {
    float: left;
    margin: 15px 25px 5px 0px;
}
.content img.img-right {
    float: right;
    margin: 15px 0px 5px 25px;
}

/* footer items */
footer div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}
footer div li {
    list-style-type: none;
}
footer div li a {
    font-size: 16pt;
    font-family: sans-serif;
}
img.img-logo {
    height: 35px;
    width: auto;
}
footer div.copyright-notice {
    padding-top: 25px;
    text-align: center;
    font-size: 12pt;
    font-family: sans-serif;
}

/* junk from the lectures */

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

#main-table-heading {
    color: blue;
}

section .my-class {
    color: green;
}

table img {
    padding: 10px;
    
}
